{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <h3>Kinematika - GLB dan GLBB</h3>
</div>
<div class="panel">
    <p>GLB (Gerak Lurus Beraturan) <br>
        Gerak Lurus dengan kecepatan tetap:<br>
        v = tetap $(v_o = v_1 = v_2 = v_3 = \ldots)$ <br>
        $v = \frac{\Delta s}{\Delta t}$  <br>
        $ s_t = s_o + vt$
    </p>


    <p>GLBB (Gerak Lurus Berubah Beraturan)<br>
        Gerak lurus dengan percepatan konstan: <br>
        a = tetap $(a_o = a_1 = a_2 = a_3 = \ldots)$ <br>
        $a=\frac{\Delta v}{\Delta t}$<br>
        $v_t=v_o+at$<br>
        $s=v_ot+\frac{1}{2}at^2+s_o$

    </p>
</div>

<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1585/fis10" target="_blank">www.zenius.net</a> kode konten: 1585</p>
</div>
</div>
{% endblock %}
