{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <h3>Kinematika -
       Makna Luas</h3>
</div>
<div class="panel">
    <p>Grafik Kecepatan - waktu gerak lurus</p>
    <p><img src="/img/fis10ktsp/bab2/Makna_luas.png"></p>
    <h3>Perpindahan dari detik ke 0 sampai detik ke t<sub>2</sub>:<br>
        $\Delta s = L_1 - L_2$
    </h3>
    <h3>
        Jarak tempuh dari detik ke 0 sampai detik ke t<sub>2</sub>:<br>
        $d=L_1+L_2$
    </h3>
</div>

<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1585/fis10" target="_blank">www.zenius.net</a> kode konten: 1585</p>
</div>
{% endblock %}
