{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <p>Kinematika <br>
       Kecepatan rata-rata dan Laju rata-rata</p>
</div>
<div class="panel">

    <p><img src="/img/fis10ktsp/bab2/Posisi - jarak - perpindahan.png"></p>
    <p>Benda berpindah dari posisi 2 satuan ke posisi 7 satuan dalam waktu 3 detik, lalu ke 4 satuan
       dalam waktu 2 detik.</p>
    <p>Kecepatan rata-rata: <br>
       $\overline{v} = \frac{\Delta s}{\Delta t} = \frac{s_{akhir} - s_{awal}}{\mbox {selang waktu}}= \frac{4-2}{3+2} = \frac{2}{5}$  satuan/detik</p>
    <p>Laju rata-rata: <br>
        $\overline{laju}=\frac{d}{\Delta t}= \frac{\mbox{jarak tempuh}}{\mbox{selang waktu}} = \frac{(7-2)+(7-4)}{3+2}=
        \frac{8}{5}=1\frac{3}{5}$ satuan/detik
    </p>
</div>
<div class="panel">
    <p><img src="/img/fis10ktsp/bab2/Posisi - jarak - perpindahan2.png"></p>
    <p>Benda berpindah dari titik A ke B dalam waktu 2 detik lalu ke C dalam waktu 3 detik. <br>
    <p>Kecepatan rata-rata: <br>
        $\overline{v}=\frac{\Delta s}{\Delta t} = \frac{\sqrt{8^2+6^2}}{2+3} = \frac{10}{5}=2$  satuan/detik</p>
    <p>Laju rata-rata: <br>
        $\overline{laju}=\frac{d}{\Delta t}= \frac{8+6}{2+3} = \frac{18}{5}=3\frac{3}{5}$ satuan/detik

    </p>
</div>
<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1585/fis10" target="_blank">www.zenius.net</a> kode konten: 1585</p>
</div>
</div>
{% endblock %}
