{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <p>Kinematika <br>
       Aplikasi Gradien</p>
</div>
<div class="panel">
    <p>Grafik Posisi - waktu untuk kecepatan konstan</p>
    <p><img src="/img/fis10ktsp/bab2/aplikasi_gradien.png"></p>
    <h3>v = gradien grafik garis s terhadap t
          = $\frac{s_2-s_1}{t_2-t_1}$</h3>
</div>

<div class="panel">
    <p>Grafik kecepatan - waktu untuk percepatan konstan</p>
    <p><img src="/img/fis10ktsp/bab2/aplikasi_gradien2.png"></p>
    <h3>a = gradien grafik garis v terhadap t
          = $\frac{v_2-v_1}{t_2-t_1}$</h3>
</div>

<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1585/fis10" target="_blank">www.zenius.net</a> kode konten: 1585</p>
</div>
</div>
{% endblock %}
