{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <h3>Kinematika -
        Gerak Relatif</h3>
</div>
<div class="panel">
    <p>
    <img src="/img/fis10ktsp/bab2/gerak_relatif.png"><br>
    Titik O = titik acuan<br>
    $V_{AO}=$ kecepatan benda A terhadap titik acuan <br>
    $V_{BA}=$ kecepatan benda B terhadap benda A <br>
    $V_{BO} = V_{BA} + V_{AO}=$ kecepatan benda B terhadap titik acuan<br>
    $V_{AB} = V_{AO} + V_{OB}=$ kecepatan benda A terhadap benda B<br>
    $V_{AB} = - V_{BA}$
    </p>
</div>

<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1585/fis10" target="_blank">www.zenius.net</a> kode konten: 1585</p>
</div>
</div>
{% endblock %}
