{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <p>Kinematika <br>
       Posisi - perpindahan dan jarak tempuh</p>
</div>
<div class="panel">

    <p><img src="/img/fis10ktsp/bab2/Posisi - jarak - perpindahan.png"></p>
    <p>Benda berpindah dari posisi 2 satuan ke posisi 7 satuan lalu ke 4 satuan</p>
    <p>$\Delta$s = vektor perpindahan </br>
       |$\Delta$s| = $s_{akhir} - s_{awal}$ = 4 - 2 = 2 satuan <br>
       d = jarak tempuh (sering disingkat jarak) = panjang lintasan gerak benda
         = (7 - 2) + (7 - 4) = 5 + 3 = 8 satuan
    </p>
</div>
<div class="panel">
    <p><img src="/img/fis10ktsp/bab2/Posisi - jarak - perpindahan2.png"></p>
    <p>Benda berpindah dari titik A ke B lalu ke C. <br>
       $\Delta$s = vektor perpindahan <br>
       |$\Delta$s| = $\sqrt{8^2 + 6^2} = 10$ satuan <br>
       d = jarak tempuh = AB + BC = 8 + 6 = 14 satuan

    </p>
</div>
<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1585/fis10" target="_blank">www.zenius.net</a> kode konten: 1585</p>
</div>
</div>
{% endblock %}
