{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <p>Optika Geometri <br>
       Pembiasan pada permukaan bidang batas / lensa tebal</p>
</div>
<div class="panel">
    <h3>
        $\frac{n_1}{s} + \frac{n_2}{s'}= \frac{n_2 - n_1}{R}$
    </h3>
    </p>
</div>
<div class="row">
    <p>Keterangan:<br>

        $n_1$ = indeks bias medium darimana sinar datang / benda berada <br>
        $n_2$ = indeks bias medium kemana sinar menuju <br>
        $s$  = jarak benda dari permukaan bidang batas <br>
        $s'$ = jarak bayangan dari permukaan bidang batas <br>
        $R$  = jari-jari kelengkungan bidang batas <br>
        tanda: <br>
        $s$ positif : benda nyata <br>
        $s'$ positif : bayangan nyata <br>
        $R$ positif : bentuk kelengkungan cembung (dilihat dari arah sinar datang)
    </p>
    <!--
         <img src="teori/C1X1FEAC-3.png">
     -->
</div>
<div class="row">
    <p>Video teori: <a href="http://www.zenius.net">www.zenius.net</a> kode konten: 2288</p>
</div>
</div>
{% endblock %}
