{% extends "rotor/views/templates/teori/base.html" %}
{% block content %}
<br>
<div class="container">
<div class="row">
    <p>Gerak Melingkar Beraturan
        </p>
</div>
<div class="panel">
    <p>Benda berpindah dari posisi A ke B dalam lintasan melingkar</p>
    <p>Sudut dan Jarak Tempuh </p>
    <p><img src="/img/fis10ktsp/bab3/GMB_S.png"></p>

    <h3>$s=\theta\times R$</h3>
    <p>$\theta$ = sudut tempuh (radian)</br>
       R = jari-jari lingkaran (meter)<br>
       s = jarak tempuh (sering disingkat jarak) = panjang lintasan gerak benda<br>
    </p>
    <p>1 putaran = $2\pi$ radian = $360^o$</p>
</div>
<div class="panel">
    <p>Kecepatan Sudut dan Kecepatan Tangensial / Linier </p>
    <p><img src="/img/fis10ktsp/bab3/GMB_omega.png"></p>
    <h3>$v_T=\omega\times R$</h3>
    <p>$\omega$ = kecepatan sudut (radian/sekon)</br>
       R = jari-jari lingkaran (meter)<br>
       $v_T$ = kecepatan tangensial atau kecepatan linier (meter/sekon)</p>
     <p>Percepatan Sentripetal<br>
       $a_s$ = percepatan sentripetal (percepatan yang menuju ke pusat lingkaran)<br>
       <h3>$a_s = \frac{v_T{}^2}{R}=\omega^2\times R$</h3>
    </p>
    <p>Frekuensi dan periode <br>
       f = frekuensi (banyaknya putaran setiap detik)<br>
       T = periode (waktu yang dibutuhkan untuk satu putaran) <br>
        <h3>$f=\frac{1}{T}$</h3>
         <h3>$\omega=2\pi f$</h3>
   </p>
</div>
<div class="panel">
    <p>Susunan roda-roda</p>
    <p>Dua roda dengan satu poros putar yang sama</p>
    <p><img src="/img/fis10ktsp/bab3/roda1poros.png"></p>
    <p>Kecepatan sudutnya sama:<br>
        <h3>  $\omega_1 = \omega_2$ </h3>
    <h3> $\frac{v_1}{R_1}=\frac{v_2}{R_2}$</h3>
    </p>
    <p>Dua roda yang poros putarnya berbeda</p>
    <p><img src="/img/fis10ktsp/bab3/roda2poros.png"></p>
    <p>Laju liniernya sama:<br>
        <h3>$v_1=v_2$</h3>
        <h3>$\omega_{1}R_{1}=\omega_{2}R_{2}$</h3>
    </p>
</div>
<div class="panel">
    <p>GMB (Gerak Melingkar Beraturan)</p>
    <p>Gerak melingkar dengan kecepatan sudut konstan<br>
        <h3>$\omega=konstan$</h3>
        <h3>$\Delta\theta=\omega\times\Delta t$</h3>
    </p>
</div>
<div class="row">
    <p>Video teori: <a href="http://www.zenius.net/c/1872/fis10" target="_blank">www.zenius.net</a> kode konten: 1872</p>
</div>
</div>
{% endblock %}
