{% extends "rotor/views/templates/base.html" %}

{% block content %}
    <br>
    <h3 align="center">Klik Kodebutir untuk Edit/Delete</h3>
    <div class="row" align="center">
        <form method="POST" action="{{action}}">
            <table>
                <thead>
                    <th>No</th>
                    <th>Kode Butir</th>
                    <th>Kode</th>
                </thead>

                <tbody>
                    {% for datum in data %}
                    <tr><td></td>
                            <td><input type="submit" name="kodebutir" value='{{datum.kodebutir}}'></td>
                            <td>{{datum.code}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <input type="hidden" name="kdbtr" value="{{kdbtr}}" >
        </form>

      </div>
{% endblock %}
