{% extends "rotor/views/templates/base.html" %}

{% block content %}
    <br>
    <h3 align="center">Proset - Generator</h3>
    <p align="center">Pilih Bab</p>
    <div class="row" align="center">
       <form method="POST" action="/datagen-add-problems" >
        <table>
            <thead>
                <th>No</th>
                <th>Kode</th>
                <th>Butir Pelajaran</th>
            </thead>

            <tbody>

                {% for butir in butirs %}
                    <tr>
                        <td></td>
                        <td><input type="submit" name="kode" value="{{butir.kode}}"></td>
                        <td>{{butir.keterangan}}</td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <input type="hidden" name="subjek" value="{{subjek}}">
        </form>
      </div>
{% endblock %}
